@use '@carbon/colors';
@use '@carbon/layout';

.cds--modal-container {
	max-width: 1312px;
	overflow: hidden;
}

.modalContent {
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;

	@media (max-width: 671px) {
		display: grid;
		font-size: 12px;
	}
}

.imageSide {
	display: grid;
	place-items: center;
	overflow: clip;

	img {
		height: 100%;
		width: auto;
	}
}

.textSide {
	padding-bottom: layout.$spacing-10;
	padding-right: layout.$spacing-10;
	padding-left: layout.$spacing-07;
	overflow-y: scroll;
	max-height: 700px;

	.header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-top: layout.$spacing-02;
	}

	.title {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
	}

	svg {
		height: 2rem;
		width: 2rem;

		cursor: pointer;
	}

	h4 {
		color: colors.$gray-60;
		font-size: 1.5rem;
		padding-bottom: 1.5rem;
	}

	p {
		text-align: justify;
	}

	@media (max-width: 671px) {
		padding-bottom: 3rem;
	}
}
