@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/grid';

.cds--modal-container {
	max-width: 1312px;
	overflow: hidden;

	.cds--row {
		margin: 0;
		padding: 0;
	}

	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: layout.$spacing-04;
	}

	::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0.1);
	}

	::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.8);
		box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
	}
}

.modalContent {
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;

	@include grid.breakpoint-down('md') {
		display: grid;
		font-size: 12px;
	}
}

.imageSide {
	@include grid.breakpoint-up('md') {
		position: relative;
		object-fit: contain;
		overflow: hidden;
		padding: 0;

		img {
			width: 50%;
			height: 100%;
		}
	}

	@include grid.breakpoint-down('md') {
		width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}
}

.textSide {
	@include grid.breakpoint-up('md') {
		overflow-y: auto;
		width: inherit;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		padding: layout.$spacing-06;
	}

	@include grid.breakpoint-down('md') {
		width: 100%;
		padding: 0 layout.$spacing-04;
		padding-bottom: layout.$spacing-12;
	}

	.header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-top: layout.$spacing-02;
	}

	.title {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
	}

	svg {
		height: 2rem;
		width: 2rem;

		cursor: pointer;
	}

	h4 {
		color: colors.$gray-60;
		font-size: 1.5rem;
		padding-bottom: 1.5rem;
	}

	p {
		text-align: justify;
	}
}
