@use '@carbon/react';
@use '@carbon/colors' as *;
@use '@carbon/layout' as *;
@use '@carbon/themes/scss/themes';
@use '@carbon/themes/scss/theme';
@use '@carbon/type' as *;

.dark-theme {
	@include theme.theme(themes.$g100);
}

@font-face {
	font-family: 'IBM Slash';
	src: url('/fonts/IBM-Slash.ttf') format('truetype');
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

html {
	scroll-behavior: smooth;
}

* {
	min-width: none;
	font: inherit;
	user-select: none;
	font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.highlight {
	color: $purple-50;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
video,
svg {
	display: block;
	height: auto;
	max-width: 100%;
}

body {
	margin: 0;
	min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
	.cds--grid--no-gutter {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
	margin-top: 3rem;
	background: var(--cds-background);
}

.cds--modal-header,
.cds--modal-close-button {
	height: 0;
	width: 0;
	display: none;
}
