@use '@carbon/react';
@use '@carbon/grid';
@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/themes';
@use '@carbon/type';

@include grid.flex-grid();

@font-face {
	font-family: 'IBM Slash';
	src: url('/fonts/IBM-Slash.ttf') format('truetype');
}

* {
	font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

html {
	scroll-behavior: smooth;
}

.cds--content {
	padding-left: 0;
	padding-right: 0;
	margin-top: 3rem;
	background: var(--cds-background);
}

.cds--modal-content {
	-webkit-padding-after: 0 !important;
	padding-block-end: 0 !important;
	-webkit-padding-before: 0 !important;
	padding-block-start: 0 !important;
	-webkit-padding-end: 0 !important;
	padding-inline-end: 0 !important;
	-webkit-padding-start: 0 !important;
	padding-inline-start: 0 !important;
}

.cds--modal-header {
	display: none !important;
}
