@use '@carbon/colors';

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.content {
	margin-top: 5rem;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 100vw;

	.arrowRow {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3rem 0;

		svg {
			width: 2rem;
			height: 2rem;
			color: colors.$purple-60;
			flex-shrink: 0;
			cursor: pointer;

			animation: pulse 1s linear infinite alternate-reverse;
		}
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}
