.speakerCard {
	flex-basis: 24%;
	aspect-ratio: 1/1;
	cursor: pointer;

	display: flex;
	justify-items: flex-end;
	align-items: flex-end;
	padding: 1.3rem;
}

.content {
	color: #fff;
	font-size: clamp(0.9rem, 1.2vw, 1.05rem);

	.name {
		font-weight: bolder;
		margin-bottom: 0.3rem;
	}

	.company {
		font-weight: lighter;
	}
}
