@use '@carbon/layout';

.speakerCard {
	flex-basis: 24%;
	aspect-ratio: 1/1;
	cursor: pointer;

	display: flex;
	justify-items: flex-end;
	align-items: flex-end;
	padding: layout.$spacing-04;

	transition: filter 0.5s;

	&:hover {
		cursor: pointer;
		filter: brightness(0.8);
	}
}

.content {
	color: #fff;
	font-size: clamp(0.9rem, 1.2vw, 1.05rem);

	.name {
		font-weight: bolder;
		margin-bottom: layout.$spacing-01;
	}

	.company {
		font-weight: lighter;
	}
}
